html
	head
		script(src="/lib/socket.io.js")
		script(src="/lib/massive-client.js")
		script(type="text/javascript")
			var massive = new Massive();
			massive.connect("localhost", 1234);
			massive.start();
	body
		h1 I'm all up in your browser, calculating some md5 checksums.